/* RESET Start */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* RESET End */
nav {
  /*Strip the ul of padding and list styling*/
  /*Style for menu links*/
  /*Hover state for top level links*/
  /*Style for dropdown links*/
  /*Hover state for dropdown links*/
  /*Hide dropdown links until they are needed*/
  /*Make dropdown links vertical*/
  /*Prevent text wrapping*/
  /*Display the dropdown on hover*/
  /*Style 'show menu' label button and hide it by default*/
  /*Hide checkbox*/
  /*Show menu when invisible checkbox is checked*/
  /*Responsive Styles*/
}

nav li.current-menu-item > a, nav li.current-menu-ancestor > a {
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*Create a horizontal list with spacing*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

nav li a {
  display: block;
  min-width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #2f3036;
  text-decoration: none;
}

nav li:hover a {
  background: #19c589;
}

nav li:hover ul a {
  background: #f3f3f3;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}

nav li:hover ul a:hover {
  background: #19c589;
  color: #fff;
}

nav li ul {
  display: none;
}

nav li ul li {
  display: block;
  float: none;
}

nav li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}

nav ul li a:hover + .sub-menu, nav .sub-menu:hover {
  display: block;
}

nav .show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #19c589;
  text-align: center;
  padding: 10px 0;
  display: none;
}

nav input[type=checkbox] {
  display: none;
}

nav input[type=checkbox]:checked ~ #menu-navigation {
  display: block;
}

@media screen and (max-width: 760px) {
  nav {
    /*Make dropdown links appear inline*/
    /*Create vertical spacing*/
    /*Make all menu links full width*/
    /*Display 'show menu' link*/
  }
  nav ul {
    position: static;
    display: none;
  }
  nav li {
    margin-bottom: 1px;
  }
  nav ul li, nav li a {
    width: 100%;
  }
  nav .show-menu {
    display: block;
  }
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

section {
  height: 90%;
}

div.main-header {
  height: 10%;
}

div.main-header .container {
  background-color: #177cc2;
  height: 100%;
}

div.main-header .container h1 {
  margin: 0px;
  padding: 15px 0px 0px 25px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.capitals .container.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  background-color: #e4e4e4;
  height: 100%;
  padding: 25px;
}

.capitals .container.flex-container .capital {
  width: 30%;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  background-color: white;
}

.capitals .container.flex-container .capital img {
  width: 100%;
  display: block;
}

.capitals .container.flex-container .name {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  margin: 5px 0px 10px 20px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 40%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/*css komentaras kuris islieka sukompiliuotame faile*/
h1 {
  color: #ce042c;
}

.center {
  text-align: center;
}

.border-top {
  border-top: 1px solid #ce042c;
}

.border-right {
  border-right: 1px solid #ce042c;
}

.border-bottom {
  border-bottom: 1px solid #ce042c;
}

.border-left {
  border-left: 1px solid #ce042c;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}
